<div class="container-fluid">
<!--
  <div class="row text-center">
    <h3>Maps Demo</h3>
  </div>

  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Azure Maps</a></li>
      <li><a href="#">Others</a></li>
    </ul>
  </div>
   -->

  <div class="container-fluid">
    <div class="row w-100">
      <div class="col w-100 text-center">
        <h3>Maps Demo</h3>
        <h4>Using Azure Maps</h4>
      </div>
    </div>
    <div class="row w-100">
      <div class="col w-100">

        <nav class="nav nav-tabs">
          <a class="nav-link active" href="#">Azure Maps</a>
          <a class="nav-link" href="#">Others</a>
        </nav>

      </div>
    </div>
  </div>

</div>
